

<ion-content class="ion-padding">
  

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="actividades-notify">
          <ion-icon name="alarm" class="tab-sicas"></ion-icon>
          <ion-label>GeoLocaliza </ion-label>
        </ion-tab-button>
     
        <ion-tab-button tab="traking">
          <ion-icon name="calendar" class="tab-sicas"></ion-icon>
          <ion-label> GeoLocalizacion </ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

   
</ion-content>




