
.Title{
    text-align: center !important;
    background: #5e51c6 !important;
}
.Title h3{
    color: #fff !important;
}
.section-activate{
    --ion-item-background: #8cc152;
    --ion-item-color: #fff;
    font-weight: 600;
    margin: 5px;
}